{% extends 'base.html.twig' %}

{% block title %}Hello ClassesController!{% endblock %}

{% block body %}
    <style>
        body { width: 100%; height: 100%; font: 18px/1.5 sans-serif;}
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 5px 6px; }
        .card { width: 20rem; float: left;/* margin: 90px;*/ margin-bottom: 10px; text-align: center; padding: 5px; }
        h1 { text-align: center;}
        /*h3{ font-weight: 800;}*/
        /*p{ font-weight: 300;}*/

        /* Ajoute la propriété pour centrer horizontalement les div */
        .card-container { margin: 0 auto; }
    </style>
    <div class="card-container">
        <h1 class="h3 mb-3 fw-bold">Liste des classes {% if app.user is not null %}/ leaderboard{% endif %}</h1>
        <div class="justify-content-between d-flex" style="margin: 50px 400px 0 400px">
        {% for classe in classes %}
            <div class="card">
                <img class="card-img-top" src="{{ classe.image }}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-text">{{ classe.nom }}</h3>
                    <p>{{ classe.description }}</p>
                    {% if app.user is not null %}
                        {% if historiqueCounts[classe.id-1] is defined %}
                            <p>{{ historiqueCounts[classe.id-1].count }} missions réussies</p>
                        {% endif %}
                    {%  endif %}
                </div>
            </div>
        {% endfor %}
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}
