{% extends 'base.html.twig' %}

{% block title %}Edit Classe{% endblock %}

{% block body %}

<div class="p-4">
    <div class="table">
        <h1 class="h3 mb-3 fw-bold">Modifier la classe: {{ classe.nom }}</h1>

        {{ include('classe/_form.html.twig', {'button_label': 'modifier'}) }}

        <a class="btn btn-secondary"  href="{{ path('app_classe_index') }}">retour</a>

        {{ include('classe/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
