{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="p-4">
    <div class="table">
        <h1 class="h3 mb-3 fw-bold">Ajouter un Utilisateurs</h1>

        {{ include('user/_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('app_user_index') }}">retour</a>
    </div>
</div>
{% endblock %}
